body {
    background:url(./background.jpg);
    text-align: center;
    margin-top: 5rem;
    font-family:'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

label {
    color: #000000;
    font-size: 1.3rem;

}

button {
    padding: 0.5rem;
    margin: 1rem 0.2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color:#0dbd8b;
}

button:hover {
    background-color: #05a376;
}

input {
    background-color:#0dbd8b86;
    border: none;
    border-bottom: 2px solid;
    text-align: center;
    margin-left: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    outline: none;
}

#password {
    padding: 1rem 1rem;
    font-size: large;
}

#generate {
    padding: 0.5rem; 
}


.include-container {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.container {
    background-color: rgba(255, 255, 255, 0.664);
    margin-right: auto;
    margin-left: auto;
    width: 40rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}